* {
    box-sizing: border-box !important;
}

.container {
    max-width: 1170px;
}

html {
    scroll-behavior: smooth;
}

.corousel-card {
    display: flex;
    justify-content: center;
    border: 10px;
}

.image-card {
    box-shadow: 0;
    margin: 2;
    max-width: 400;
}

.appeal-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.nav-bar {
    margin-bottom: 2;
    background-color: "#262F36";
    border-bottom: 5;
    border-color: "primary.main";
}